# Python specific ignores
__pycache__/
*.pyc
*.pyo
venv/   # If you use a virtual environment, typically named 'venv' or 'env'
env/    # Another common virtual environment name
windows7env/
namuna8_logs.txt
reports/qrcode.png

# Database files
*.db
*.sqlite
*.sqlite3
E-gram/backend/E-gram/static/
static
uploaded_images/
database.py
# Or specifically:
# grampanchayat.db
# test.db

# Node.js specific ignores
node_modules/

# OS-specific temporary files
.DS_Store # macOS specific
Thumbs.db # Windows specific
build/
dist/
main.spec