<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <title>नमूना ८</title>
    <style>
        @media print {
            @page {
                size: A4;
            }
            #toolbar {
                display: none !important;
            }
        }
    </style>
</head>
<table style="width:100%;border:1px solid black ; background:#ccc;">
  <tr>
    <td style="border:none width:20%; text-align:center; vertical-align:center;">
      <img src="/ReportImages/satyamevijayate.png" alt="Ashoka Emblem" style="height:130px;" />
    </td>
    <td style="width:60%; text-align:center; vertical-align:top;">
      <div style="font-size:18px; font-weight:bold;">
        महाराष्ट्र शासन<br/>
        Goverment of Maharashtra<br/>
        आरोग्य विभाग<br/>
        Health Department<br/>
        प्रमाणपत्र निर्गमित करणार्‍या स्थानिक क्षेत्राचे नाव<br/>
        Name of local body issuing<br/>
        Certificate
      </div>
    </td>
    <td style="width:20%; text-align:center; vertical-align:center;">
      <img src="/ReportImages/image.png" alt="Blue Logo" style="height:130px;" />
    </td>
  </tr>
</table>

<!-- Second part: Title and legal/certification text -->
<table style="width:100%; border:1px solid #000; border-collapse:collapse; margin-top:0;">
  <tr>
    <td style="text-align:center; font-size:20px; font-weight:bold; border-bottom:1px solid #000; padding:6px;">
      जन्म प्रमाणपत्र / <span style="font-size:22px;">BIRTH CERTIFICATE</span>
    </td>
  </tr>
  <tr>
    <td style="text-align:center font-size:14px; text-align:left; border-bottom:1px solid #000; padding:6px;">
      जन्म व मृत्यू नोंदणी अधिनियम, १९६९ च्या कलम १२/१७ आणि महाराष्ट्र जन्म व मृत्यू नोंदणी नियम २००० चे नियम ८/१३ अन्वये देण्यात आले असे.<br/>
      <span style="font-size:12px;">(issued under section 12/17 of the registration of births & deaths act,1969 and rule 8/13 of the maharashtra registration of births and deaths rules 2000)</span>
    </td>
  </tr>
  <tr>
    <td style="text-align:center font-size:14px; text-align:left; border-bottom:1px solid #000; padding:6px;">
      ्रमाणित करण्यात येत आहे कि खालील माहिती जन्माच्या मुल अभिलेखाच्या नोंदवहीतून घेण्यात आली आहे. जी की स्थानिक क्षेत्र -, तालुका-, जिल्हा- महाराष्ट्र राज्याच्या नोंदवहीत उल्लेख आहे.<br/>
      <span style="font-size:12px;">This is to cetify that the following inforation has been taken from the original record of birth which is the register for (local area / local body) Panhera. of tahsil/block Motala of district  Buldhana of maharashtra sate.</span>
    </td>
  </tr>
</table>
